#mapid { 
    height: 1000px;
    width: 1200px; 
}

/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  
  /*Show a loading gif during the loading screen*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader.gif) center no-repeat #fff;
}

.form-check {
  font-size: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Chivo', sans-serif;
}

.main-title {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  text-transform:uppercase;

}

.instructions.fancybox-content {
  border-radius: 15px;
  background-color: #1a5276;
  color: white;
  border-style: dashed;
}

.fancybox-content h2 {
  font-family: 'Chivo', sans-serif;
  font-size:1.6em;
}

.fancybox-content p {
  font-family: 'Alegreya Sans', sans-serif;
}